<h1>Asciify#index</h1>
<p>Find me in app/views/asciify/index.html.erb</p>

<form action="asciify/result" method="POST">
    <h2>폰트를 골라주세요</h2>
    <select name="input_font">
        <option value="standard">일반</option>
        <option value="big">크게</option>
        <option value="small">얇게</option>
    </select>
    
    <h2>이름을 입력하세요</h2>
    <input type="text" name="input_name" placeholder="name">
    
    <h2>전화번호를 입력하세요 </h2>
    <input type="tel" name="input_tel" placeholder="telephone">
    
    <h2>제출하기></h2>
    <input type ="submit" value="ASCIIFY">
</form>